/* style.css */
main {
    margin-top: 200px;
}
.container {
    width: 100%;
    box-sizing: border-box;
}
.nav-link {
    display: flex;
    justify-content: center;

    width: 100px;
    box-sizing: border-box;
    font-size: var(--textsize);

}
.nav-link a {
align-self: center;


}
.nav-link:hover {
    background-color: black;
}
.header-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    background-color: var(--headerfootercolor);

}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
   
    top: 0;
    left: 0;
    height: 100%;

}

#nav-bar:hover {
    background-color: var(--projectbackgroundcolor);
}
#welcome-section {
    height: screen;
}
/*
@media only screen and (min-width: 1200px) {
body {
    margin-left: 4.5cm;
}
#navbar {
    display: inline;
    position: fixed;
    left: 20px;
    top: 4cm;
}
.classy {
    position: absolute;
    display: inline;
    width: 3.8cm;
    top: .1cm;
    left: .1cm;
}
}
