/* style.css */
:root {
    --fontcolor: rgb(63, 62, 62);
    --textsize: 19px;
    --projectbackgroundcolor: rgb(200,227,254);
    --headerfootercolor: rgb(255, 255, 255);
    --contactcolor: hsl(270,97%,74.1%);
    --welcomebackground: rgb(254,227,200);
    --tile-text: white;
    --tile-background: rgb(59, 59, 59);
}

html {
    color: var(--fontcolor);
    margin: 0;
}
body {
    margin: 0;
}
main {
    margin-top: 80px;
}
.container {
    width: 100%;
    box-sizing: border-box;
}
.nav-link {
    display: flex;
    justify-content: center;

    width: 100px;
    box-sizing: border-box;
    font-size: var(--textsize);

}
.nav-link a {
align-self: center;


}
.nav-link:hover {
    background-color: var(--projectbackgroundcolor);
}
.header-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    background-color: var(--headerfootercolor);

}
.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.content-text {
    align-self: center;
    justify-self: center;

}
.footer {
    position: absolute;
    left: 0px;
    height: 80px;
    background-color: var(--contactcolor);
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
    border-top-style: solid;
    border-top-width: 3px;
    border-color: var(--headerfootercolor);
}
.project-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    box-sizing: content-box;
    width:100%;
    max-width: 1320px;
    align-items: center;
    grid-gap: 2rem;
}
.project-tile {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 40vw;
    box-sizing: border-box;


}
.project-tile-img {
display: block;
width: 100%;
box-sizing: inherit;
display: flex;
align-self: flex-start;
}
.project-tile-text {
    text-align: center;
    background-color: var(--tile-background);
    color: var(--tile-text);
    width: 100%;
    margin: 0;
    height: 25px;
    display: block;
    padding-top: 25px;
}
.project-header {
    text-align: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.social-icons img {
    
    width: 40px;
    padding: 20px;
}
a:link {
    text-decoration: none;
    color: var(--fontcolor);
    }
    a:visited {
        text-decoration: none;
        color: var(--fontcolor);    
        }
        a:hover {
            text-decoration: none;
            color: var(--fontcolor);    
            }
            a:active {
                text-decoration: none;
                color: var(--fontcolor);    
                }
#projects {
    background-color: var(--projectbackgroundcolor);
    display: flex;
    flex-direction: column;
    align-items: center;

}
#contact {
    display: flex;
    height: 100vh;
    background-color: var(--contactcolor);

}
#projects {
    display: flex;
    height: 100vh;
    padding: 0 auto;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
   
    top: 0;
    left: 0;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: var(--contactcolor);

}

#welcome-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--welcomebackground);
}


@media (min-width: 900px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #projects {
        height: 150vh;
    }
    }    
@media (min-width: 1200px) {
    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #projects {
        height: 100vh;
    }
    
}
@media (max-width: 900px) {
    #projects {
        height: 340vw;
    }
    .project-tile {
        max-width: 80vw;
        min-width: 70vw;;
    }
    .lower-tile {
        display: none;
    }
    .header-bar {
        height: 10vw;
    }
    }  